<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.Dotin.HelloWorld" scope="singleton">
    </bean>

</beans>

        <!--configuration metadata that you supply to the IoC container to know:-->
        <!--How to create a bean-->
        <!--Bean's lifecycle details-->
        <!--Bean's dependencies-->

        <!--The Spring Framework supports the following five scopes,
         three of which are available only if you use a web-aware ApplicationContext.-->
        <!--singleton,
            prototype
            (web-aware Spring ApplicationContext):
            request,
            session,
            global-session-->