<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.Dotin.HelloWorld">
        <property name="message" value="Hello World!!!"/>
    </bean>

    <!--The Beans.xml is used to assign unique IDs to different beans and to
     control the creation of objects with different values without impacting
     any of the Spring source files. For example, using the following file
     you can pass any value for "message" variable and you can print different
     values of message without impacting HelloWorld.java and MainApp.java files.
     You can use <property> tag to pass the values of different variables used
     at the time of object creation.-->

</beans>

        <!--configuration metadata that you supply to the IoC container to know:-->
        <!--How to create a bean-->
        <!--Bean's lifecycle details-->
        <!--Bean's dependencies-->

        <!--The Spring Framework supports the following five scopes,
         three of which are available only if you use a web-aware ApplicationContext.-->
        <!--singleton,
            prototype
            (web-aware Spring ApplicationContext):
            request,
            session,
            global-session-->