<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="textEditor" class="com.Dotin.TextEditor" autowire="constructor">
        <!--<constructor-arg ref="spellChecker"/> must remove-->
        <constructor-arg value="Generic Text Editor"/>
    </bean>

    <!-- SpellChecker is Type -->
    <bean id="SpellChecker" class="com.Dotin.SpellChecker"></bean>

</beans>
